@model IEnumerable<Sistema_escolar.Models.Matricula>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaMatricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semestre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaMatricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semestre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso.CursoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.EstudianteId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MatriculaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MatriculaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MatriculaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
