@model TechNova.Models.Venta

@{
    ViewData["Title"] = "Eliminar Venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Venta</h1>

<h3>¿Estás seguro que deseas eliminar esta venta?</h3>
<div>
    <h4>Venta</h4>
    <hr />
    <dl class="row">
        <!-- Fecha de la venta -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaVenta)
        </dd>

        <!-- Total de la venta -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalVenta)
        </dd>

        <!-- Cliente -->
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NombreCompleto)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="VentaId" />
        <!-- 🔎 Confirmación de eliminación -->
        <input type="submit" value="Eliminar" class="btn btn-danger"
               onclick="return confirm('¿Seguro que deseas eliminar esta venta?')" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
    </form>
</div>
